<!DOCTYPE html>
<html>

<head>
    <%- include ../templates/userEditors/head.ejs %>
</head>

<body class="skin-black">

    <%- include ../templates/userEditors/topBar.ejs %>

        <div class="wrapper row-offcanvas row-offcanvas-left">

            <%- include ../templates/userEditors/leftMenu.ejs %>

                <aside class="right-side">

                    <div id="notificacion" class="notification-style">
                        <div class="alert alert-success alert-dismissible fade out" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4>
                                <i class="icon-ok-sign"></i> Success!
                            </h4>
                            <p>Best check yo self, you're not looking too good...</p>
                        </div>
                    </div>



                    <section class="content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel-group m-bot20" id="accordion">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle color-btn-new-sites" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    New site
                                               </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse  collapse">
                                            <div class="panel-body">

                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <input type="text" class="form-control" id="inputUrl">
                                                        <p class="help-block">Domain of the website: https//example.com or http//example.com</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label col-lg-2 title-topic">Topic:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control m-b-10" id="sel_Topic">
                                                                         
                                                                    <option  selected value="SELECCIONE">---Select---</option>
                                                                    <option value="1">3D printing</option>
                                                                    <option value="">Anatomy                      </option>
                                                                    <option value="">Animal                       </option>
                                                                    <option value="">Animation‎                    </option>
                                                                    <option value="">Architecture                 </option>
                                                                    <option value="">Art                          </option>
                                                                    <option value="">Automotive                   </option>
                                                                    <option value="">Aviation                     </option>
                                                                    <option value="">Cannabis                     </option>
                                                                    <option value="">Chat                         </option>
                                                                    <option value="">Children's                   </option>
                                                                    <option value="">comics‎                       </option>
                                                                    <option value="">Commerce                     </option>
                                                                    <option value="">Community                    </option>
                                                                    <option value="">Dance                        </option>
                                                                    <option value="">Online dating services       </option>
                                                                    <option value="">Debate                       </option>
                                                                    <option value="">digital media                </option>
                                                                    <option value="">Disability                   </option>
                                                                    <option value="">Download                     </option>
                                                                    <option value="">Economics                    </option>
                                                                    <option value="">Educational                  </option>
                                                                    <option value="">Employment                   </option>
                                                                    <option value="">Entertainment                </option>
                                                                    <option value="">Environmental                </option>
                                                                    <option value="">Erotica and pornography      </option>
                                                                    <option value="">Fact-checking                </option>
                                                                    <option value="">Fashion                      </option>
                                                                    <option value="">File sharing communities     </option>
                                                                    <option value="">food and drink               </option>
                                                                    <option value="">Fundraising                  </option>
                                                                    <option value="">Genealogy                    </option>
                                                                    <option value="">GIF hosting                  </option>
                                                                    <option value="">Health                       </option>
                                                                    <option value="">History                      </option>
                                                                    <option value="">Horticulture and gardening   </option>
                                                                    <option value="">Humor                        </option>
                                                                    <option value="">Image hosting‎                </option>
                                                                    <option value="">Interdisciplinary            </option>
                                                                    <option value="">Law enforcement              </option>
                                                                    <option value="">Legal                        </option>
                                                                    <option value="">LGBT-related                 </option>
                                                                    <option value="">Library                      </option>
                                                                    <option value="">Lifestyle                    </option>
                                                                    <option value="">Linguistics                  </option>
                                                                    <option value="">Literature                   </option>
                                                                    <option value="">Marine                       </option>
                                                                    <option value="">Matrimonial                  </option>
                                                                    <option value="">Men's                        </option>
                                                                    <option value="">Military-themed              </option>
                                                                    <option value="">Music                        </option>
                                                                    <option value="">News                         </option>
                                                                    <option value="">Nostalgia                    </option>
                                                                    <option value="">Parenting                    </option>
                                                                    <option value="">Philosophy                   </option>
                                                                    <option value="">Photography                  </option>
                                                                    <option value="">Political                    </option>
                                                                    <option value="">Religious                    </option>
                                                                    <option value="">Review                       </option>
                                                                    <option value="">Route planning               </option>
                                                                    <option value="">Satirical                    </option>
                                                                    <option value="">Science fiction              </option>
                                                                    <option value="">Science                      </option>
                                                                    <option value="">Shock sites                  </option>
                                                                    <option value="">Social bookmarking           </option>
                                                                    <option value="">Social networking            </option>
                                                                    <option value="">Social planning              </option>
                                                                    <option value="">Speculative fiction & portals</option>
                                                                    <option value="">Sport                        </option>
                                                                    <option value="">Internet streaming services  </option>
                                                                    <option value="">Technology                   </option>
                                                                    <option value="">Translation                  </option>
                                                                    <option value="">Transport                    </option>
                                                                    <option value="">Travel                       </option>
                                                                    <option value="">Vegetarian publications      </option>
                                                                    <option value="">Video game                   </option>
                                                                    <option value="">Video hosting‎                </option>
                                                                    <option value="">Virtual museums              </option>
                                                                    <option value="">Webmail‎                      </option>
                                                                    <option value="">Women's                      </option>                                       
                                                                          
                                                            </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label col-lg-2 title-topic">Pais:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control m-b-10" id="sel_Country">                                                                                                                                                                                                                           
                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <button type="button" class="btn btn-add-url" id="btn-confirm">Confirm</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <section class="panel general" id="panelScript">
                                    <header class="panel-heading tab-bg-dark-navy-blue">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href="#https">https</a>
                                            </li>
                                            <li class="">
                                                <a data-toggle="tab" href="#http">http</a>
                                            </li>
                                        </ul>
                                    </header>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div id="https" class="tab-pane active">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <p class="help-block">Copy and paste this code into your website before closing the &lt;/head&gt; tag.</p>
                                                        <div class="panel-script table-responsive">
                                                            <div class="backGroundCopy">
                                                                <span id="btn-copyText" class="tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Copy text">
                                                                    &nbsp;<i class="far fa-copy"></i>&nbsp;
                                                                </span>
                                                            </div>

                                                            <div id="script-genered" contenteditable="true">
                                                            </div>

                                                        </div>
                                                        <br/>
                                                        <p class="help-block">Download the generated file, unzip it and upload the files to the root directory ("public_html") of your website.</p>
                                                        <button type="button" class="btn btn-add-url" id="btn-downloadFile">Download File</button>

                                                    </div>
                                                </div>


                                            </div>
                                            <div id="http" class="tab-pane">
                                                http
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <!--tab nav start-->
                                <section class="panel general">
                                    <header class="panel-heading tab-bg-dark-navy-blue">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href="#dataTablePagesAdd">List of aggregated sites</a>
                                            </li>
                                        </ul>
                                    </header>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div id="dataTablePagesAdd" class="tab-pane active">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="panel">

                                                            <div class="panel-body table-responsive">
                                                                <table class="table table-condensed table-hover" id="tableUrls" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>URL</th>
                                                                            <th>COUNTRY</th>
                                                                            <th>DATE</th>
                                                                            <th>TOPIC</th>
                                                                            <th>OPCIONS</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tfoot>

                                                                    </tfoot>

                                                                    <tbody id="detailUrls">
                                                                    </tbody>


                                                                </table>
                                                            </div>
                                                            <!-- /.box-body -->
                                                        </div>
                                                        <!-- /.box -->
                                                    </div>

                                                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalEdit" class="modal fade">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                    <h4 class="modal-title">EDIT URL</h4>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">FSFSFSDF</label>

                                                                    </div>
                                                                    <a class="btn btn-default">Confirm</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalDetail" class="modal fade">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                    <h4 class="modal-title">DETAIL</h4>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <section class="panel general" id="panelScriptTable">
                                                                        <header class="panel-heading tab-bg-dark-navy-blue">
                                                                            <ul class="nav nav-tabs">
                                                                                <li class="active">
                                                                                    <a data-toggle="tab" href="#https">https</a>
                                                                                </li>
                                                                                <li class="">
                                                                                    <a data-toggle="tab" href="#http">http</a>
                                                                                </li>
                                                                            </ul>
                                                                        </header>
                                                                        <div class="panel-body">
                                                                            <div class="tab-content">
                                                                                <div id="https" class="tab-pane active">
                                                                                    <div class="panel">
                                                                                        <div class="panel-body">
                                                                                            <p class="help-block">Copy and paste this code into your website before closing the &lt;/head&gt; tag.</p>
                                                                                            <div class="panel-script table-responsive">
                                                                                                <div class="backGroundCopy">
                                                                                                    <span id="btn-copyText-modal" class="tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Copy text">
                                                                                                        &nbsp;<i class="far fa-copy"></i>&nbsp;
                                                                                                    </span>
                                                                                                </div>

                                                                                                <div id="script-genered-table" contenteditable="true">
                                                                                                </div>

                                                                                            </div>
                                                                                            <br/>
                                                                                            <p class="help-block">Download the generated file, unzip it and upload the files to the root directory ("public_html") of your website.</p>
                                                                                            <button type="button" class="btn btn-add-url" id="btn-downloadFile-table">Download File</button>

                                                                                        </div>
                                                                                    </div>


                                                                                </div>
                                                                                <div id="http" class="tab-pane">
                                                                                    http
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!--tab nav start-->

                            </div>
                        </div>

                        <!-- Main row -->


                        <!-- row end -->

                    </section>
                    <!-- /.content -->


                </aside>
                <!-- /.right-side -->

        </div>
        <!-- ./wrapper -->

        <%- include ../templates/userEditors/importScripts.ejs %>

            <!-- daterangepicker -->
            <script src="./utilities/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>

            <!-- iCheck -->
            <script src="./utilities/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

            <!-- calendar -->
            <script src="./utilities/js/plugins/fullcalendar/fullcalendar.js" type="text/javascript"></script>

            <!-- datatable -->
            <script type="text/javascript" src="./utilities/js/jquery.dataTables.min.js"></script>
            <link rel="stylesheet" type="text/css" href="./utilities/css/jquery.dataTables.min.css" />

            <script src="./utilities/js/WhatPush/Editor/editorDB-sites.js" type="text/javascript"></script>

            <script src="./utilities/js/jszip.min.js" type="text/javascript"></script>
            <script src="./utilities/js/FileSaver.js" type="text/javascript"></script>


</body>

</html>